body{
	background-color: #232323;
	margin:0 0;
	font-family: "Montserrat", "Avenir";
}

.square{
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}

#container{
 max-width: 600px;
 margin: 0 auto;
}

h1{
  color: white;
  text-transform: uppercase;
  background-color: steelblue;
  margin: 0 0;
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  padding: 20px 0px;
}

#rgbcolor{
	text-transform: uppercase; 
	font-size: 200%;
}

span{
	color: white;
}

#strip{
	background-color: white;
	height: 30px;
	text-align: center;
	margin-bottom: 35px;
}

#message{
	color: black;
	display: inline-block;
	width: 20%;
	text-align: center;
}

button{
	background: none;
	border: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	color: steelblue;
	font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover{
	color: white;
	background-color: steelblue;
}

.selected{
	background-color: steelblue;
	color: white;
}